.GoBack {
    background-color: var(--gms-color-1);
    color: var(--gms-color-3); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.1em
}

.GoBack > img {
  width: 30px;
  margin: var(--margin-s);
}

@media screen and (max-width: 700px) {
  .GoBack {
    font-size: 0.8em;
    top: 20px;
    left: 10px;
}

.GoBack > img {
  width: 20px;
  margin: var(--margin-s);
}

}

@media screen and (max-width: 450px) {
 
  .GoBack {
    font-size: 0.7em;
    top: 20px;
    left: 10px;
}

.GoBack > p {
  display: none;
}

.GoBack > img {
  width: 30px;
  margin: var(--margin-s);
}

}