.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    width: 90%;
    gap: 50px;
    margin: var(--margin-xl) 0;
}

@media screen and (min-width: 1200px) {
    .cards {
        width: 70%;
    }
}
